<h1>edit Profile</h1>
<%= form_for @user_profile, :url =>{:action => "update", :id =>@user_profile} do |form| %>
  <div>
    <%= form.label :f_name %><br>
    <%= form.text_field :f_name %>
  </div>

  <div>
    <%= form.label :l_name %><br>
    <%= form.text_field :l_name %>
  </div>
  
  <div>
  <%= form.label :education %><br>
  <%= form.text_field :education %>
  </div>

  <div>
  <%= form.label :experience %><br>
  <%= form.text_field:experience %>
  </div>

  <div>
  <%= form.label :skills %><br>
  <%= form.text_field:skills %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <%= link_to 'Back', {:action => 'show'} %>

<% end %>